<div class='hidden' id='information-wrap'><div id='information'></div></div>

<form method="GET" action="/" class="search">
  <div>
    <input type="radio" name="category" value="origin" id="origin" checked><label for="origin"> 元ネタ</label>
    <input type="radio" name="category" value="author" id="author"><label for="author"> 作者名</label>
    <input type="radio" name="category" value="name" id="name"><label for="name"> 作品名</label>
    <input type="text" name="search_word" class="textBox">
    <input type="submit" value="検索" class="btn">
  </div>
</form>

<% @manga_list.each do |manga| %>
  <span class='thumbnail' id="<%= manga[:id] %>">
    <a href="detail/<%= manga[:id] %>"><img class='image' src="<%= manga[:thumbnail] %>" height=auto width=140px></a>
  </span>
<% end %>
<span id="database" class="hidden"><%= @database %></span>
