<html>
<head>
  <title>モーツァルト楽曲集</title>
  <link rel="stylesheet" href="/style.css?20160316" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/script.js"></script>
</head>
<body>
<%= yield %>
</body>
</html>
